<div>
  <p id="success"><%= flash[:notice] %></p>
  <h1>Submitted Information</h1>
  <p>Name: <%= @survey[:name] %></p>
  <p>Dojo Location: <%= @survey[:location] %></p>
  <p>Favorite Language: <%= @survey[:language] %></p>
  <p>Comment: <%= @survey[:comment] %></p>
</div>